## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [6]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Umm Lajj,SA,75.27,clear sky,25.0213,37.2685,Moon light Furnished Units
1,2,Grand Gaube,MU,77.00,light rain,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
2,14,Sibolga,ID,84.63,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
3,19,Harper,LR,79.09,broken clouds,4.3750,-7.7169,Screensaver
4,20,Garissa,KE,79.59,moderate rain,-0.4536,39.6401,Sharif Plaza Hotel
...,...,...,...,...,...,...,...,...
163,661,Lazaro Cardenas,MX,76.66,clear sky,17.9583,-102.2000,Hotel Quinta Antigua
164,670,Biltine,TD,78.42,clear sky,14.5333,20.9167,Hôtel Trois Étoiles de Biltine
165,674,Pathein,MM,80.46,scattered clouds,16.7833,94.7333,New Pammawaddy Hotel
166,676,Kulhudhuffushi,MV,83.34,overcast clouds,6.6221,73.0700,Haajy Guest House 1
167,690,Majene,ID,88.23,overcast clouds,-3.5403,118.9707,Kost Putri RABBANI

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Lazaro Cardenas")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Lazaro Cardenas")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Acapulco")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Puerto Escondido")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Pochutla")]

In [68]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
163,661,Lazaro Cardenas,MX,76.66,clear sky,17.9583,-102.2,Hotel Quinta Antigua

In [117]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
start = start[0,5], start[0,6]

end = vacation_end.to_numpy()
end = end[0,5], end[0,6]

stop1 = vacation_stop1.to_numpy()
stop1 = stop1[0,5], stop1[0,6]

stop2 = vacation_stop2.to_numpy()
stop2 = stop2[0,5], stop2[0,6]

stop3 = vacation_stop3.to_numpy()
stop3 = stop3[0,5], stop3[0,6]

# Check
start

(17.9583, -102.2)

In [120]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig = gmaps.figure()
mexico_coast = gmaps.directions_layer(start, end, waypoints =[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(mexico_coast)
fig

Figure(layout=FigureLayout(height='420px'))

In [121]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,661,Lazaro Cardenas,MX,76.66,clear sky,17.9583,-102.2000,Hotel Quinta Antigua
1,389,Acapulco,MX,82.40,few clouds,16.8634,-99.8901,HS Hotsson Smart Acapulco
2,403,Puerto Escondido,MX,79.14,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
3,553,Pochutla,MX,80.01,clear sky,15.7432,-96.4661,Hotel Posada San Jose

In [129]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [130]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))