In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
city_data_df = pd.read_csv("cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-04-02 15:55:37,-33.6500,115.3333,62.01,84,97,1.01
1,1,Grand-Santi,GF,2021-04-02 15:55:37,4.2500,-54.3833,77.38,88,100,1.72
2,2,Galle,LK,2021-04-02 15:55:38,6.0367,80.2170,81.25,84,27,10.54
3,3,Lebu,CL,2021-04-02 15:55:38,-37.6167,-73.6500,59.99,79,45,14.61
4,4,Port Elizabeth,ZA,2021-04-02 15:54:52,-33.9180,25.5701,64.40,82,0,16.11
...,...,...,...,...,...,...,...,...,...,...
564,564,Tzaneen,ZA,2021-04-02 15:58:57,-23.8332,30.1635,69.80,64,0,8.05
565,565,Parabel,RU,2021-04-02 15:58:58,58.6978,81.4825,32.68,92,100,11.99
566,566,Northam,GB,2021-04-02 15:58:58,51.0333,-4.2167,54.00,56,0,1.01
567,567,Teguldet,RU,2021-04-02 15:58:59,57.3064,88.1667,29.14,94,100,11.86
568,568,Sola,VU,2021-04-02 15:58:59,-13.8833,167.5500,81.91,76,98,9.01

In [8]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature - remove max temps below 0 to avoid InvalidWeightException error
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# OR - use list comprehension rather than for loop 
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Adjust Heatmap zoom, intensity, and point radius 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Grand-Santi,GF,2021-04-02 15:55:37,4.2500,-54.3833,77.38,88,100,1.72
2,2,Galle,LK,2021-04-02 15:55:38,6.0367,80.2170,81.25,84,27,10.54
8,8,Puerto Ayacucho,VE,2021-04-02 15:55:40,5.6639,-67.6236,89.76,52,97,4.07
19,19,Jatai,BR,2021-04-02 15:53:45,-17.8814,-51.7144,89.74,38,44,0.81
22,22,Atuona,PF,2021-04-02 15:55:44,-9.8000,-139.0333,80.80,78,82,13.33
23,23,Quatre Cocos,MU,2021-04-02 15:55:45,-20.2078,57.7625,79.00,89,40,6.91
25,25,Kantunilkin,MX,2021-04-02 15:55:45,21.0917,-87.4500,77.00,57,75,17.27
27,27,Ringas,IN,2021-04-02 15:53:58,27.3500,75.5667,84.20,11,0,4.61
32,32,Praia,CV,2021-04-02 15:55:47,14.9215,-23.5087,87.80,22,0,17.27
36,36,Ugoofaaru,MV,2021-04-02 15:55:48,5.6667,73.0000,83.46,74,0,10.22

In [35]:
# Check for null values 
preferred_cities_df.count()

City_ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [37]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [38]:
preferred_cities_df.notnull().sum()

City_ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [39]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# Copying preferred_cities_df - i.e will reference this df everytime the search is changed 
# add a new column "Hotel Name" to the hotel_df
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1       Grand-Santi      GF     77.38   4.2500  -54.3833
2             Galle      LK     81.25   6.0367   80.2170
8   Puerto Ayacucho      VE     89.76   5.6639  -67.6236
19            Jatai      BR     89.74 -17.8814  -51.7144
22           Atuona      PF     80.80  -9.8000 -139.0333
23     Quatre Cocos      MU     79.00 -20.2078   57.7625
25      Kantunilkin      MX     77.00  21.0917  -87.4500
27           Ringas      IN     84.20  27.3500   75.5667
32            Praia      CV     87.80  14.9215  -23.5087
36        Ugoofaaru      MV     83.46   5.6667   73.0000

In [45]:
# Retrieve hotel info 
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [48]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name in the DataFrame.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Grand-Santi,GF,77.38,4.2500,-54.3833,Hotel La Villa Couacou
2,Galle,LK,81.25,6.0367,80.2170,Amangalla
8,Puerto Ayacucho,VE,89.76,5.6639,-67.6236,Posada Turistica Manapiare
19,Jatai,BR,89.74,-17.8814,-51.7144,La Vitre Hotel
22,Atuona,PF,80.80,-9.8000,-139.0333,Villa Enata
23,Quatre Cocos,MU,79.00,-20.2078,57.7625,Emeraude Beach Attitude Hotel
25,Kantunilkin,MX,77.00,21.0917,-87.4500,Posada Paraiso
27,Ringas,IN,84.20,27.3500,75.5667,Hotel Raghu Palace
32,Praia,CV,87.80,14.9215,-23.5087,LT Aparthotel
36,Ugoofaaru,MV,83.46,5.6667,73.0000,Ungoofaaru Inn

In [52]:
# Setup the info box for each hotel before adding heatmap + markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [53]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))